.dtr-slick-slider .slick-next, .dtr-slick-slider .slick-prev {
    background-color: transparent;
    border-color: none;
}
.dtr-slick-slider .slick-next, .dtr-slick-slider .slick-prev {
    font-size: 0;
    line-height: 60px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    outline: 0;
    border-radius: 50%;
    opacity: 1;
    transition: all .3s ease;
    z-index: 99;
    border: none;
    text-align: center;
}
.dtr-slick-slider .slick-next:hover, .dtr-slick-slider .slick-prev:hover {
    background-color: transparent;
    border-color: none;
}
.slick-prev {
    opacity: 0;
    visibility: hidden;
    pointer-events:none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #151925; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }